
body {
  margin: 0;
  font-family: "Roboto", sans-serif;
}

.header {
  background-color: black;
  color: white;
  background-image: url(../images/background.jpg);
  background-size: cover;
}

.name {
  text-transform: uppercase;
}

.container {
  max-width: 75%;
  margin: 0 auto;
}

.main-menu {
  font-size: 1.2rem;
  font-weight: bold;
  padding: 20px 0;
}

.main-menu a {
  text-decoration: none;
  color: white;
  margin-right: 10px;
}

.main-menu a:hover {
  transition: 0.5s;
  color: rgb(19, 182, 231);
}

main p {
  text-align: justify;
}

.avatar {
  height: 350px;
  text-align: center;
  margin: 3rem 0;
  background-image: url(../images/background1.png);
  background-repeat: no-repeat;
  background-position: center;
}

.avatar img {
  height: 100%;
}

.btn {
  text-decoration: none;
  color: blue;
  font-weight: bold;
  border: 2px solid blue;
  padding: 10px;
  border-radius: 5px;
}

.btn:hover {
  transition: color 0.5s, border-color 0.5s;
  color: rgb(19, 182, 231);
  border-color: rgb(19, 182, 231);
}

.contact-me-btn {
  color: white;
  border-color: white;
  font-size: 1.2rem;
  display: inline-block;
}

.footer {
  background-color: black;
  color: white;
  padding: 40px 0;
  margin-top: 2rem;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.py-5 {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

.w-50 {
  max-width: 50%;
}

.mx-3 {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.mx-auto {
  margin-left: auto;
  margin-right: auto;
}
